<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>入驻展示</string>
			<key>imageName</key>
			<string>KNBMe_4</string>
		</dict>
		<dict>
			<key>title</key>
			<string>我要接单</string>
			<key>imageName</key>
			<string>KNBMe_2</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>分享好友</string>
			<key>imageName</key>
			<string>KNBMe_3</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>关于我们</string>
			<key>imageName</key>
			<string>KNBMe_4</string>
		</dict>
		<dict>
			<key>title</key>
			<string>版本更新</string>
			<key>imageName</key>
			<string>KNBMe_5</string>
		</dict>
	</array>
</array>
</plist>
